---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- macro walk(node, depth) %}
  <url>
    <loc>{{ siteUrl }}{{ node.url }}</loc>
    <changefreq>monthly</changefreq>
    <priority>{% if depth == 0 %}1.0{% elif depth == 1 %}0.9{% elif depth == 2 %}0.7{% else %}0.5{% endif %}</priority>
  </url>
  {%- for child in node.children %}
    {{ walk(child, depth + 1) }}
  {%- endfor %}
{%- endmacro %}
  {{ walk(navTree, 0) }}
</urlset>
